*{
    padding: 0;
    margin: 0;
    font-family:Consolas,'Times New Roman','Microsoft YaHei',SimHei; 
}
a{
    cursor:pointer;
    text-decoration:underline;
}
a{
    color: #0000FF
}
a:hover {
    color: #FF0000
}
li{  
    list-style-type:none; 
}